src/main/java/resources/Services.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Services">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Service_type" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Office" type="xs:string" />
                            <xs:element name="name">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="name" type="xs:string" />
                                        <xs:element minOccurs="0" name="Service-name" type="xs:string" />
                                        <xs:element minOccurs="0" name="cost" type="xs:int" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="price" type="xs:decimal" />
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>